<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>OAuth 2.0 Flows</title>
        <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico" th:href="@{/assets/img/favicon.ico}"/>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
    </head>
    <body>
        <div th:replace="templates::header"></div>
        <div class="container">
            <div class="page-header">
                <h1>OAuth 2.0 Flows <small>with Spring Security 5</small></h1>
            </div>
            <div>
                <!-- Flow A -->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong><u><a href="#" th:href="@{/oauth2-flows/flow-a}">Flow A</a></u></strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <span th:replace="templates::flowASequence"></span>
                        <span th:if="${flowACall}">
                            <span th:replace="templates::serviceCall (serviceCaller=null,serviceCallee=${flowACall})"></span>
                        </span>
                    </div>
                </div>
                <!-- Flow AB -->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong><u><a href="#" th:href="@{/oauth2-flows/flow-ab}">Flow AB</a></u></strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <span th:replace="templates::flowABSequence"></span>
                        <span th:if="${flowABCall}">
                            <span th:replace="templates::serviceCall (serviceCaller=null,serviceCallee=${flowABCall})"></span>
                        </span>
                    </div>
                </div>
                <!-- Flow ABC (Token Relay) -->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong><u><a href="#" th:href="@{/oauth2-flows/flow-abc?flowType=token_relay}">Flow ABC (Token Relay)</a></u></strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <span th:replace="templates::flowABCSequenceTokenRelay"></span>
                        <span th:if="${flowABCCall_token_relay}">
                            <span th:replace="templates::serviceCall (serviceCaller=null,serviceCallee=${flowABCCall_token_relay})"></span>
                        </span>
                    </div>
                </div>
                <!-- Flow ABC (Token Exchange) -->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong><u><a href="#" th:href="@{/oauth2-flows/flow-abc?flowType=token_exchange}">Flow ABC (Token Exchange)</a></u></strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <span th:replace="templates::flowABCSequenceTokenExchange"></span>
                        <span th:if="${flowABCCall_token_exchange}">
                            <span th:replace="templates::serviceCall (serviceCaller=null,serviceCallee=${flowABCCall_token_exchange})"></span>
                        </span>
                    </div>
                </div>
                <!-- Flow ABC (Client Credentials) -->
                <div class="panel panel-default panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <strong><u><a href="#" th:href="@{/oauth2-flows/flow-abc?flowType=client_credentials}">Flow ABC (Client Credentials)</a></u></strong>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <span th:replace="templates::flowABCSequenceClientCredentials"></span>
                        <span th:if="${flowABCCall_client_credentials}">
                            <span th:replace="templates::serviceCall (serviceCaller=null,serviceCallee=${flowABCCall_client_credentials})"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="templates::footer"></div>
        <script src="/webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>